@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.App {
  width: 100vw;
  height: 100vh;
}
::-webkit-scrollbar { 
  display: none; 
  }

body {
  background-color: #eee;
  margin: 0;
}
.root {
  display: flex;
  flex-direction: column;
  font-family: "Encode Sans SC", sans-serif;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loading-image{
  display: flex;
  justify-content: center;
  align-items: center;
}